[Unit]
<%= description %>
<%= after %>
<%= requires %>

[Service]
<%= type %>
<%= user %>
<%= envfile %>
<%= execstart %>
<%= restart %>
<%= restartsec %>
<%= killmode %>

[Install]
<%= wantedby %>
